<div class="header">
  <a href="/"><h1>Stitchifier!</h1></a>

  <div class="link-box">
    <%= link_to 'new image upload', new_user_image_path %>
  </div>

  <div class="title-box">
    <h2><%= @title %></h2>
  </div>

</div>